
// structure styling
body {
	position: relative;
	background-image: radial-gradient(circle, @rh-grey 10%, @rh-bg-grey 10%);
	background-position: 0 1em;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: 2em 2em;
	.rh-box { // main openshift box
		top: 200px;
		position: relative;
		margin: 0 auto;
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { // hide box on small devices
			display: none;
		}
		.row {
			.rh-header-bar { // red openshift header bar
				height: 48px;
				background-color: @rh-red;
				p {
					position: relative;
					float: left;
					padding-top: 14px;
				}
				span.rh-numbox { // top right corner number box
					width: 26px;
					height: 21px;
					position: relative;
					top: 14px;
					right: 2px;
					float: right;
					display: block;
					background-color: @rh-dark-red;
					.box-shadow-inset();
					text-align: center;
				}
			}
		}
		.row {
			.rh-content-body { // white openshift content body
				height: 109px;
				display: flex;
				background-color: @rh-white;
				.borders();
				.box-shadow-inset-down();
				.box-shadow();
			}
		}
	}
}