
/* RH-DEMO: CSS2 V2 STYLING */

/* ------------------------- */
/* RH-GENERAL STYLES */

body {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
}
h1, h2, h3, h4, h5, h6, a, p, ul, li, dt, dd {
	font-family: "overpass", Arial, Helvetica, sans-serif;
}
p {
	font-weight: 400;
}
span.ico-stat {
	width: 59px;
	height: 25px;
	padding: 5px 8px;
	position: relative;
	color: #FFFFFF;
	background: #008100;
	border-radius: 2px;
}
@media (max-width: 600px), screen and (orientation: portrait) { 
	span.ico-stat {
		top: 8px;
		padding: 9px 8px 5px 8px;
	}
}

/* ------------------------- */
/* RH-PANEL SECTION */
.rh-pan {
	/*display: flex;*/
	max-width: 551px;
	height: auto;
	clear: both;
	padding: 0px;
	margin: 0 auto;
	position: relative;
	top: 136px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */
/* RH-PANEL NAVIGATION */
.rh-pan-nav {
	width: 100%;
	height: 43px;
	display: block;
	position: relative;
	background: linear-gradient(180deg, rgba(204,0,0,1) 30%, rgba(71,0,0,1) 130%);
}
.rh-pan-nav p {
	color: #FFFFFF;
	display: block;
	position: absolute;
	left: 17px;
}
.rh-pan-nav ul {
	display: block;
	position: absolute;
	right: 0;
}
.rh-pan-nav ul li {
	color: #FFFFFF;	
	display: inline;
	border-left: 1px solid #FFFFFF;
	padding: 17px 17px 20px 17px;
}
.rh-pan-nav ul li:hover {
	background: rgb(204,0,0);
	background: radial-gradient(circle, rgba(204,0,0,1) 0%, rgba(71,0,0,1) 100%);
	padding: 18px 17px 8px 17px;
}
.rh-pan-nav ul li#active-list-item {
	background: rgb(204,0,0);
	background: radial-gradient(circle, rgba(204,0,0,1) 0%, rgba(71,0,0,1) 100%);
	padding: 18px 17px 8px 17px;
}
.rh-pan-nav ul li a {
	color: #FFFFFF;
	font-weight: 400;
	text-decoration: none;
}
.rh-pan-nav ul li a:hover {
	color: #FFFFFF;
}
.rh-pan-nav ul li a:visited {
	color: #FFFFFF;
}

/* ------------------------- */
/* RH-PANEL BODY */
.rh-pan-body {
	width: auto;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 40px;
}
.panel-descrip h3 {
	color: #000000;
	font-size: 1.6rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
.panel-descrip p {
	margin-bottom: 43px;
}

/* ------------------------- */
/* RH-PANEL LIST */

dl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
dt {
	flex-grow: 0.4;
	flex-shrink: 1;
	flex-basis: 0%;
}
dd {
	color: #bbbbbb;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	margin-left: 0px;
}











